.form {
    margin: auto;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    box-shadow: $dark-shadow;
}

.form-control {
	border: 1px solid #ccc;
	border-radius: 0;
	background: none;
	&:active, &:focus {
		outline: none;
		box-shadow: none;
		border-color: #000;
	}
}

.col-form-label {
	color: #000;
	font-size: 13px;
}
.btn, .form-control, .custom-select {
	min-height: 45px;
	border-radius: 0;
    margin-bottom: 15px;
}