.projects__section {
  p {
    font-size: 1.2rem;
  }
  h3 {
    font-weight: 500;
    letter-spacing: 1px;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: inherit;
    }
  }

  #projects-flters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 10px 15px 8px 15px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      text-transform: capitalize;
      color: #272829;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &.filter-active {
        color: $color-green-2;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 3rem;
    justify-content: center;

    .card {
      text-align: center;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      border-radius: 10px;

      .img-part {
        border-radius: 10px 10px 0 0;
      }

      .text-part {
        margin: 20px; 
        position: relative;
        overflow: hidden;
        .project-infos {
          transition: all .5s;
        }
      }

      &:hover {
        transform: scale(1.03);

        .project-infos {
          opacity: 0;
        }

        .preview-link-div{
          
        }

        .preview-link{
          opacity: 1;
          &:hover{
            letter-spacing: 2px;
          }
          &::after{
            transform: translateX(0%);
          }
          &::before{
            transform: translateX(-100%);
          }
        }
      }
    }
  }
}

.preview-link-div{
  position: relative;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;

}
.preview-link{
  transition: all .5s;
  opacity: 0;
  position: relative;
  font-family: $font-Poppins;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;

  &::after{
    content: '';
    height: 1px;
    width: 150px;
    background-color: black;
    position: absolute;
    top: 50%;
    margin-left: 8px;
    transform: translateX(40%);
    transition: all .5s;

  }
  &::before{
    content: '';
    height: 1px;
    width: 150px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translateX(-140%);
    margin-left: -11px;
    transition: all .5s;

  }
}


.is-animated {
  animation: 0.4s zoom-in ease;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: none;
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
