@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@font-face {
  font-family: 'gilroy-medium';
  src: url(../assets/fonts/gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: 'gilroy-bold';
  src: url(../assets/fonts/gilroy/Gilroy-Bold.ttf);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

html {
  //defines what 1rem is
  font-size: 62.5%; //1 rem = 10px
  scroll-behavior: smooth;
}

body {
  font-family: $font-Poppins;
  font-weight: 400;
  &.overflow-h {
    overflow: hidden;
  }


  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    
    background-color: var(--color-green-4);
    //background: #55968255;
    //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-green-2);
  }
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: $color-grey-dark-3;
  font-family: $font-Poppins;
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: #35404e;
}

a:hover {
  color: inherit;
}

.section__title {
  position: relative;
  margin-bottom: 13rem;
  width: 100%;

  &__1,
  &__2 {
    font-family: 'gilroy-bold';
    font-size: 10rem;
    letter-spacing: -1px;
    text-transform: none;
    display: inline-block;

    line-height: 10rem;
  }

  &__1 {
    color: #0000008c;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 70%);
    position: absolute;
    left: 0px;
    transform: translateX(-250px);
    opacity: 0;
  }

  &__2 {
    position: absolute;
    left: 0px;
    top: -1px;
    transform: translateX(250px);
    opacity: 0;

    clip-path: polygon(0 70%, 100% 40%, 100% 100%, 0 100%);
  }

  .section__title__1 {
    left: 1px;
  }
  .section__title__2 {
    left: -1px;
    top: 2px;
    color: #559682;
  }
}

.button__1 {
  background-color: #8ec7b9;
  color: #fff;
  border: none;

  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.8rem 5rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  &::after {
    background-color: #8ec7b9;

    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}

.button__2 {
  padding: 1.2rem 2.5rem;
  border: 0.2rem solid white;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  width: 15rem;
  color: white;
  background-color: #73c0b0;
  //border: 0.2rem solid #73c0b131;

  transition: all 0.3s;

  &:hover {
    background-color: #2d8b79c9;
    letter-spacing: 0.2rem;

    //border: 0.2rem solid #73c0b159;
  }
}

.link {
  color: var(--color-green-2);
  position: relative;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s;

  cursor: pointer;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 3px;
    height: 7px;
    width: 10px;
    background: var(--color-green-2);
    transition: all 0.3s;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}
