.main {
  background-color: $color-grey-light-1;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.4rem;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: $color-grey-dark-3;
  font-family: $font-Poppins;
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: #35404e;
}

.__container {
  padding: 4rem;
}

a:hover {
  color: inherit;
}

.section-title {
  font-family: $font-Poppins;
  margin-bottom: 6rem;
  text-align: center;
  h2 {
    font-weight: 600;
    font-size: 3.5rem;
  }
  .underline {
    background-color: $color-green-1;
    width: 10rem;
    height: 0.5rem;
    margin: 1.2rem auto;
  }
}

.main {
  margin-left: 320px;
  min-height: 100vh;
}

section {
  animation: sectionAnimation 0.5s ease-out;
}

@keyframes sectionAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
