.project__detail {
  font-family: 'gilroy-medium';

  p {
    font-size: 1.6rem;
  }
}

.project__title {
  font-family: 'gilroy-bold';
}

.image__desc {
  color: #5e5e5e;
  font-weight: 500;
  font-size: 20px !important;
}
